
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 3vh;
}

html,
body {
    overflow-y: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: lr-tb;
    writing-mode: vertical-rl;
    
//    -webkit-text-orientation: upright;
//    -moz-text-orientation: upright;
//    text-orientation: upright;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


* {
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}



a.cover {
    display: block;
    padding: 2rem;
    height: 100%;
}

a.cover:hover + .tools a,
.tools:hover a {
    height: 8rem;
    padding: 2rem;
}

#container {}

h3 {
    color: #FFF;
    font-size: 3rem;
    margin-right: 2rem;
    white-space: nowrap;
}

header {}

main {
//    display: -webkit-flex;
//    display: flex;
}

section.block {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse;
}

.tools {
    white-space: nowrap;
    display: inline-block;
    -webkit-transition: $transitions;
    transition: $transitions;
    font-size: 2rem;
    overflow: hidden;
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse;

    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
   
    color: #FFF;
    outline: 0;
    
    a {
        height: 0;
        display: block;
        padding: 0 2rem;
        font-size: 2rem;
    }
    a:focus {
        height: 8rem;
        padding: 2rem;
    }
    a:focus,
    a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

footer {}
