
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 2vw;
}

html,
body {
    overflow-y: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


* {
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}



h3.cover {
    display: block;
    padding: 2rem;
    width: 100%;
    margin: 0;
    text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

#container {}

h3 {
    color: #FFF;
    font-size: 3rem;
    margin-right: 2rem;
    white-space: nowrap;
    text-transform: uppercase;
}

header {}

main {
//    display: -webkit-flex;
//    display: flex;
}

section.block {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse;
    flex-flow: row-reverse;
}

.tools {
    white-space: nowrap;
    display: inline-block;
    
    display: -webkit-flex;
    display: flex;

    color: #FFF;
    outline: 0;
    
    a {
        text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
        text-align: center;
        display: block;
        padding: 2.5rem 0;
        font-size: 2.5rem;
        overflow: hidden;
        width: 0;
    }
    a.open {
        width: 32rem;
        max-width: 99999rem;
        padding: 2.5rem;
    }
    a:focus,
    a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

footer {}
