
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 2vw;
}

html,
body {
    overflow-y: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


* {
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}



.cover {
    display: block;
    padding: 2rem;
    width: 100%;
    margin: 0;
    text-shadow: $shadow;
    position: relative;
    color: #FFF;
    font-size: 1.5rem;
}

#container {}

h3 {
    font-size: 4rem;
    white-space: nowrap;
    margin: 0.5rem 0;
    text-transform: uppercase;
}

header {}

main {
//    display: -webkit-flex;
//    display: flex;
    overflow-x: hidden;
}

section.block {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse;
    flex-flow: row-reverse;
    position: relative;
}

.tools {
    position: absolute;
    height: 100%;
    left: 0;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1) inset;
    
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    
    color: #FFF;
    outline: 0;
    
    a {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;

        text-shadow: $shadow;
        text-align: center;
        display: block;
        font-size: 2.5rem;
        overflow: hidden;
        padding: 50% 0;
        width: 0;
    }
    a:focus,
    a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
.block.open {
    a,
    a:focus,
    a:target {
        width: 10rem;
        max-width: 99999rem;
    }
    .cover {
        left: 30rem;
    }
}


footer {}
